@model Product
<link href="/css/Product/CreatProduct.css" rel="stylesheet" asp-append-version="true" />

<form method="post"  action="@Url.Action("CreateProduct", "Product")">
  <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" placeholder="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
  </div>
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input asp-for="Description" class="form-control" placeholder="Description">
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price">Price</label>
        <input asp-for="Price" class="form-control" placeholder="Price">
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>s

    <div class="form-group">
        <label asp-for="Quantity">Quantity</label>
        <input asp-for="Quantity" class="form-control" placeholder="Quantity">
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ProductCode">ProductCode</label>
        <input asp-for="ProductCode" class="form-control" placeholder="ProductCode">
        <span asp-validation-for="ProductCode" class="text-danger"></span>
    </div>
     <div class="form-group">
        <label asp-for="SupplierId">Supplier</label>
       
        
        <div class="containerSearch">

            <div class="wrapper">
                
              <input  type="text" name="search" id="supplierSearchInput" placeholder="Type to search" autocomplete="chrome-off">
             
              <div class="results">
                <ul>
                </ul>
              </div>
                
            </div>
            
        </div>
        <input asp-for="SupplierId" id="hiddenSupplierInput" value="" style="display:none;">
        <span asp-validation-for="SupplierId" class="text-danger"></span>

        <input asp-for="CategoryId" value="3">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

   

    
   
   
</form>


<script src="/js/Product/CreatProduct.js"></script>