@model Product
<link href="/css/Product/CreatProduct.css" rel="stylesheet" asp-append-version="true" />

<form method="post"  action="@Url.Action("CreateProduct", "Product")">
  @*<div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" placeholder="Name">
        <span asp-asp-validation-for="Name" class="text-danger"></span>
  </div>
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input asp-for="Description" class="form-control" placeholder="Description">
        <span asp-asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price">Price</label>
        <input asp-for="Price" class="form-control" placeholder="Price">
        <span asp-asp-validation-for="Price" class="text-danger"></span>
    </div>s

    <div class="form-group">
        <label asp-for="Quantity">Quantity</label>
        <input asp-for="Quantity" class="form-control" placeholder="Quantity">
        <span asp-asp-validation-for="Quantity" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ProductCode">ProductCode</label>
        <input asp-for="ProductCode" class="form-control" placeholder="ProductCode">
        <span asp-asp-validation-for="ProductCode" class="text-danger"></span>
    </div>
     <div class="form-group">
        <label asp-for="Supplier">Supplier</label>
    <div class="container">
        <div class="wrapper">
           
          <input type="text" name="search" id="supplierSearchInput" placeholder="Type to search" autocomplete="chrome-off">
          <button><i class="fa fa-search"></i></button>
          <div class="results">
            <ul>
            </ul>
          </div>
        </div>
    </div>
        <input asp-for="Supplier" type="text" id="hiddenSupplierInput">
           <input asp-for="Categorie" value="1" type="text" id="hiddenCategoryInput">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>*@
    <button type="submit" class="btn btn-primary">Submit</button>
    <input asp-for="Name" value="deneneee">
    <input asp-for="Description" value="hfhghf">
    <input asp-for="Price" value="555">
    <input asp-for="Quantity" value="555">
    <input asp-for="ProductCode" value="gdf">
    <input asp-for="SupplierId" value="2">
    <input asp-for="CategoryId" value="3">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


<script src="/js/Product/CreatProduct.js"></script>