<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table
      style="width: 100%; caption-side: bottom"
      id="ct-2efd2e3c-4e00-11ec-a93d-b34dba1f0acd"
      class="table table-striped dataTable no-footer dtr-column"
      aria-describedby="ct-2efd2e3c-4e00-11ec-a93d-b34dba1f0acd_info"
    >
      <thead>
        <tr role="row">
          <th
            class="dtr-control"
            data-dt-column="0"
            rowspan="1"
            colspan="1"
            style="width: 70px; display: none"
            aria-label=""
          ></th>
          <th
            class="ct-column__color ct-column__color--pill"
            data-dt-column="1"
            rowspan="1"
            colspan="1"
            style="width: 50px"
            aria-label=""
          ></th>
          <th
            class="ct-column__dp-6 dt-left ct-top dt-orderable-asc dt-orderable-desc dt-ordering-asc"
            data-dt-column="2"
            rowspan="1"
            colspan="1"
            style="width: 110px"
            tabindex="0"
            aria-sort="ascending"
            aria-label=" Activate to invert sorting"
          >
            Name
          </th>
          <th
            class="ct-column__l-4_dp-14 dt-left ct-top dt-orderable-asc dt-orderable-desc"
            data-dt-column="3"
            rowspan="1"
            colspan="1"
            style="width: 163px"
            tabindex="0"
            aria-label=" Activate to sort"
          >
            Position
          </th>
          <th
            class="ct-column__l-5_dp-12 dt-left ct-top dt-orderable-asc dt-orderable-desc"
            data-dt-column="4"
            rowspan="1"
            colspan="1"
            style="width: 213px"
            tabindex="0"
            aria-label=" Activate to sort"
          >
            Office
          </th>
          <th
            class="ct-column__dp-9 dt-right ct-top cloudtables-cell__number dt-orderable-asc dt-orderable-desc"
            data-dt-column="5"
            rowspan="1"
            colspan="1"
            style="width: 69px"
            tabindex="0"
            aria-label=" Activate to sort"
          >
            Age
          </th>
          <th
            class="ct-column__dp-10 dt-right ct-top dt-orderable-asc dt-orderable-desc"
            data-dt-column="6"
            rowspan="1"
            colspan="1"
            style="width: 99px"
            tabindex="0"
            aria-label=" Activate to sort"
          >
            Start date
          </th>
          <th
            class="ct-column__dp-11 dt-right ct-top cloudtables-cell__number dt-orderable-asc dt-orderable-desc"
            data-dt-column="7"
            rowspan="1"
            colspan="1"
            style="width: 89px"
            tabindex="0"
            aria-label=" Activate to sort"
          >
            Salary
          </th>
        </tr>
      </thead>
      <tbody>
        <tr id="2efd2e3c-1" class="odd">
          <td class="dtr-control" tabindex="0" style="display: none"></td>
          <td class="ct-column__color ct-column__color--pill">
            <span
              class="ct-content__color"
              style="background-color: #c2e6e6"
            ></span>
          </td>
          <td class="ct-column__dp-6 dt-left ct-top sorting_1">Airi Satou</td>
          <td class="ct-column__l-4_dp-14 dt-left ct-top">
            <span
              class="ct-content__link ct-content__pill ct-content__link--wrap"
              style="background: #c2e6e6; color: #000000"
              >Accountant</span
            >
          </td>
          <td class="ct-column__l-5_dp-12 dt-left ct-top">
            <span
              class="ct-content__link ct-content__pill"
              style="background: #c2e6e6; color: #000000"
              >Tokyo</span
            >
          </td>
          <td class="ct-column__dp-9 dt-right ct-top cloudtables-cell__number">
            33
          </td>
          <td class="ct-column__dp-10 dt-right ct-top">28/11/2008</td>
          <td class="ct-column__dp-11 dt-right ct-top cloudtables-cell__number">
            $162,700
          </td>
        </tr>
        <tr id="2efd2e3c-2" class="even">
          <td class="dtr-control" tabindex="0" style="display: none"></td>
          <td class="ct-column__color ct-column__color--pill">
            <span
              class="ct-content__color"
              style="background-color: #cbe5be"
            ></span>
          </td>
          <td class="ct-column__dp-6 dt-left ct-top sorting_1">
            Angelica Ramos
          </td>
          <td class="ct-column__l-4_dp-14 dt-left ct-top">
            <span
              class="ct-content__link ct-content__pill ct-content__link--wrap"
              style="background: #cbe5be; color: #000000"
              >Chief Executive Officer (CEO)</span
            >
          </td>
          <td class="ct-column__l-5_dp-12 dt-left ct-top">
            <span
              class="ct-content__link ct-content__pill"
              style="background: #cbe5be; color: #000000"
              >London</span
            >
          </td>
          <td class="ct-column__dp-9 dt-right ct-top cloudtables-cell__number">
            47
          </td>
          <td class="ct-column__dp-10 dt-right ct-top">9/10/2009</td>
          <td class="ct-column__dp-11 dt-right ct-top cloudtables-cell__number">
            $1,200,000
          </td>
        </tr>
        <tr id="2efd2e3c-3" class="odd">
          <td class="dtr-control" tabindex="0" style="display: none"></td>
          <td class="ct-column__color ct-column__color--pill">
            <span
              class="ct-content__color"
              style="background-color: #d1cfe7"
            ></span>
          </td>
          <td class="ct-column__dp-6 dt-left ct-top sorting_1">Ashton Cox</td>
          <td class="ct-column__l-4_dp-14 dt-left ct-top">
            <span
              class="ct-content__link ct-content__pill ct-content__link--wrap"
              style="background: #d1cfe7; color: #000000"
              >Junior Technical Author</span
            >
          </td>
          <td class="ct-column__l-5_dp-12 dt-left ct-top">
            <span
              class="ct-content__link ct-content__pill"
              style="background: #dfd1b4; color: #000000"
              >Bristol</span
            >
          </td>
          <td class="ct-column__dp-9 dt-right ct-top cloudtables-cell__number">
            66
          </td>
          <td class="ct-column__dp-10 dt-right ct-top">12/1/2009</td>
          <td class="ct-column__dp-11 dt-right ct-top cloudtables-cell__number">
            $86,000
          </td>
        </tr>
        <tr id="2efd2e3c-4" class="even">
          <td class="dtr-control" tabindex="0" style="display: none"></td>
          <td class="ct-column__color ct-column__color--pill">
            <span
              class="ct-content__color"
              style="background-color: #f9d7e7"
            ></span>
          </td>
          <td class="ct-column__dp-6 dt-left ct-top sorting_1">
            Bradley Greer
          </td>
          <td class="ct-column__l-4_dp-14 dt-left ct-top">
            <span
              class="ct-content__link ct-content__pill ct-content__link--wrap"
              style="background: #f9d7e7; color: #000000"
              >Software Engineer</span
            >
          </td>
          <td class="ct-column__l-5_dp-12 dt-left ct-top">
            <span
              class="ct-content__link ct-content__pill"
              style="background: #cbe5be; color: #000000"
              >London</span
            >
          </td>
          <td class="ct-column__dp-9 dt-right ct-top cloudtables-cell__number">
            41
          </td>
          <td class="ct-column__dp-10 dt-right ct-top">13/10/2012</td>
          <td class="ct-column__dp-11 dt-right ct-top cloudtables-cell__number">
            $132,000
          </td>
        </tr>
        <tr id="2efd2e3c-5" class="odd">
          <td class="dtr-control" tabindex="0" style="display: none"></td>
          <td class="ct-column__color ct-column__color--pill">
            <span
              class="ct-content__color"
              style="background-color: #fbdeda"
            ></span>
          </td>
          <td class="ct-column__dp-6 dt-left ct-top sorting_1">
            Brenden Wagner
          </td>
          <td class="ct-column__l-4_dp-14 dt-left ct-top">
            <span
              class="ct-content__link ct-content__pill ct-content__link--wrap"
              style="background: #f9d7e7; color: #000000"
              >Software Engineer</span
            >
          </td>
          <td class="ct-column__l-5_dp-12 dt-left ct-top">
            <span
              class="ct-content__link ct-content__pill"
              style="background: #d1cfe7; color: #000000"
              >San Francisco</span
            >
          </td>
          <td class="ct-column__dp-9 dt-right ct-top cloudtables-cell__number">
            28
          </td>
          <td class="ct-column__dp-10 dt-right ct-top">7/6/2011</td>
          <td class="ct-column__dp-11 dt-right ct-top cloudtables-cell__number">
            $206,850
          </td>
        </tr>
        <tr id="2efd2e3c-6" class="even">
          <td class="dtr-control" tabindex="0" style="display: none"></td>
          <td class="ct-column__color ct-column__color--pill">
            <span
              class="ct-content__color"
              style="background-color: #f1cb9d"
            ></span>
          </td>
          <td class="ct-column__dp-6 dt-left ct-top sorting_1">
            Brielle Williamson
          </td>
          <td class="ct-column__l-4_dp-14 dt-left ct-top">
            <span
              class="ct-content__link ct-content__pill ct-content__link--wrap"
              style="background: #4ebaad; color: #ffffff"
              >Integration Specialist</span
            >
          </td>
          <td class="ct-column__l-5_dp-12 dt-left ct-top">
            <span
              class="ct-content__link ct-content__pill"
              style="background: #a7bfe3; color: #000000"
              >Boston</span
            >
          </td>
          <td class="ct-column__dp-9 dt-right ct-top cloudtables-cell__number">
            61
          </td>
          <td class="ct-column__dp-10 dt-right ct-top">2/12/2012</td>
          <td class="ct-column__dp-11 dt-right ct-top cloudtables-cell__number">
            $372,000
          </td>
        </tr>
        <tr id="2efd2e3c-7" class="odd">
          <td class="dtr-control" tabindex="0" style="display: none"></td>
          <td class="ct-column__color ct-column__color--pill">
            <span
              class="ct-content__color"
              style="background-color: #fff5a0"
            ></span>
          </td>
          <td class="ct-column__dp-6 dt-left ct-top sorting_1">Bruno Nash</td>
          <td class="ct-column__l-4_dp-14 dt-left ct-top">
            <span
              class="ct-content__link ct-content__pill ct-content__link--wrap"
              style="background: #f9d7e7; color: #000000"
              >Software Engineer</span
            >
          </td>
          <td class="ct-column__l-5_dp-12 dt-left ct-top">
            <span
              class="ct-content__link ct-content__pill"
              style="background: #f9d7e7; color: #000000"
              >Edinburgh</span
            >
            <span
              class="ct-content__link ct-content__pill"
              style="background: #cbe5be; color: #000000"
              >London</span
            >
          </td>
          <td class="ct-column__dp-9 dt-right ct-top cloudtables-cell__number">
            38
          </td>
          <td class="ct-column__dp-10 dt-right ct-top">3/5/2011</td>
          <td class="ct-column__dp-11 dt-right ct-top cloudtables-cell__number">
            $163,500
          </td>
        </tr>
        <tr id="2efd2e3c-8" class="even">
          <td class="dtr-control" tabindex="0" style="display: none"></td>
          <td class="ct-column__color ct-column__color--pill">
            <span
              class="ct-content__color"
              style="background-color: #dfd1b4"
            ></span>
          </td>
          <td class="ct-column__dp-6 dt-left ct-top sorting_1">Caesar Vance</td>
          <td class="ct-column__l-4_dp-14 dt-left ct-top">
            <span
              class="ct-content__link ct-content__pill ct-content__link--wrap"
              style="background: #fef200; color: #000000"
              >Post-Sales support</span
            >
          </td>
          <td class="ct-column__l-5_dp-12 dt-left ct-top">
            <span
              class="ct-content__link ct-content__pill"
              style="background: #fbdeda; color: #000000"
              >New York</span
            >
          </td>
          <td class="ct-column__dp-9 dt-right ct-top cloudtables-cell__number">
            21
          </td>
          <td class="ct-column__dp-10 dt-right ct-top">12/12/2011</td>
          <td class="ct-column__dp-11 dt-right ct-top cloudtables-cell__number">
            $106,450
          </td>
        </tr>
        <tr id="2efd2e3c-9" class="odd">
          <td class="dtr-control" tabindex="0" style="display: none"></td>
          <td class="ct-column__color ct-column__color--pill">
            <span
              class="ct-content__color"
              style="background-color: #a7bfe3"
            ></span>
          </td>
          <td class="ct-column__dp-6 dt-left ct-top sorting_1">Cara Stevens</td>
          <td class="ct-column__l-4_dp-14 dt-left ct-top">
            <span
              class="ct-content__link ct-content__pill ct-content__link--wrap"
              style="background: #a7bfe3; color: #000000"
              >Sales Assistant</span
            >
          </td>
          <td class="ct-column__l-5_dp-12 dt-left ct-top">
            <span
              class="ct-content__link ct-content__pill"
              style="background: #fbdeda; color: #000000"
              >New York</span
            >
          </td>
          <td class="ct-column__dp-9 dt-right ct-top cloudtables-cell__number">
            46
          </td>
          <td class="ct-column__dp-10 dt-right ct-top">6/12/2011</td>
          <td class="ct-column__dp-11 dt-right ct-top cloudtables-cell__number">
            $145,600
          </td>
        </tr>
        <tr id="2efd2e3c-10" class="even">
          <td class="dtr-control" tabindex="0" style="display: none"></td>
          <td class="ct-column__color ct-column__color--pill">
            <span
              class="ct-content__color"
              style="background-color: #91d6d3"
            ></span>
          </td>
          <td class="ct-column__dp-6 dt-left ct-top sorting_1">Cedric Kelly</td>
          <td class="ct-column__l-4_dp-14 dt-left ct-top">
            <span
              class="ct-content__link ct-content__pill ct-content__link--wrap"
              style="background: #91d6d3; color: #000000"
              >Senior Javascript Developer</span
            >
          </td>
          <td class="ct-column__l-5_dp-12 dt-left ct-top">
            <span
              class="ct-content__link ct-content__pill"
              style="background: #f9d7e7; color: #000000"
              >Edinburgh</span
            >
          </td>
          <td class="ct-column__dp-9 dt-right ct-top cloudtables-cell__number">
            22
          </td>
          <td class="ct-column__dp-10 dt-right ct-top">29/3/2012</td>
          <td class="ct-column__dp-11 dt-right ct-top cloudtables-cell__number">
            $433,060
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
