@model IEnumerable<Product>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Title</title>
    <link rel="stylesheet" href="styles.css">
    <script src="script.js"></script>
</head>
<body>
   @foreach (var item in Model)
{
    <button class="btn-primary">
        @item.Name
        @item.Categorie.Name
    </button>
}
</body>
</html>