<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Inventory</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
   
</head>
<body>
    <div class="d-flex">
    <header >
     
            <ul id="nav-bar" class="nav flex-column">
                <a class="navbar-brand" id="navBrand" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-bars-progress"></i> <strong>IManager</strong> </a>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="Product" asp-action="Index" asp-route-id="1" asp-route-showNum="50">Products</a>
                </li>
                <li class="nav-item">
                     <a class="nav-link text-light" asp-area="" asp-controller="Supplier" asp-action="Index" asp-route-id="1" asp-route-showNum="50">Suppliers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="Product" asp-action="Index" asp-route-id="1" asp-route-showNum="50">Categories</a>
                
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="Supplier" asp-action="EditSupplier" asp-route-id="5">Categories</a>

                </li>
               
            </ul>
    </header>
    
                    
        <div class="container">
             
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
